*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #afc5ff;
    border-radius: 5px;
}

body {
    background-color: #98B5FF;
}

.container {
    position: relative;
    margin: 50px auto;
    border: none;
    width: 500px;
    height: 850px;
    background-color: #344FA1;
    overflow: hidden;
    border-radius: 50px;

    box-shadow: 3px 3px 10px 4px #04215990;
}

input, textarea {
    border: none;
    outline: none;
    padding: 5px;
    background-color: #ffffff00;
}

input:focus, textarea:focus {
    background-color: #ffffff00;
    border-bottom: 1px solid #f2f2f2;
}

button {
    background-color: #ffffff00;
}
