.main-container {
    width: 500px;
    height: 850px;
    overflow: hidden;
    background-color: #344FA1;
}
.user-container {
    background: linear-gradient(to bottom, #042159 0%, #042159 20%, #344FA1 20%, #344FA1 100%);
}


.page-main {
    margin: 75px auto;
    width: 430px;
    height: 100%;
    overflow: hidden;
}

.main-hidden {
    display: none;
}
/* .todo-input-container button{
    border: none;
    background-color:#344FA1 ;
} */
button {
    /* border: none; */
    background-color: #344FA1;


}

.main-header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


/* todoList */

.aside-button {
    justify-content: flex-start;
    align-items: center;
    width: 40px;
    height: 35px;
    
    border: none;
}

.aside-button i {
    font-size: 25px;
    color: #b4b4df;
}

.welcome-user {
    margin-top: 30px;
}

.welcome-user-message {
    font-size: 30px;
}

.progress-title {
    margin-top: 30px;
    letter-spacing: 0.8px;
    color: #b4b4df;
}

.progress-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 20px;
    padding-left: 20px;
    width: 400px;
    height: 100px;
    border-radius: 20px;

    background-color: #042159;
    box-shadow: 3px 3px 10px 4px #04215990;
}

.progress-box h1 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;

    color: #b4b4df;
}

.progress-graph {
    margin-top: 10px;
    width: 350px;
}

.todo-tasks {
    margin-top: 30px;
}












.main-title {
    justify-content: center;
    align-items: center;
    margin: 20px 80px 20px 20px;
    padding: 0px;
    font-size: 30px;
}

.info-photo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px 10px 10px 5px;
    padding: 5px;

    width: 80%;
    height: 180px;
    overflow: hidden;
    cursor: pointer;

}
.photo {
    border-radius: 50%;
}
.info-photo:hover{
    opacity: 0.8;
}
.photo-file{
    display: none;
}
.info-photo img{
    /* width: 100%; */
    height: 100%;
}
.change-nav{
    position: absolute;
    bottom: 3px;
    right: 3px;

    display: none;

    border-radius: 5px;
    padding: 5px;
    background-color: #344FA1;
    color: white;
    font-size: 12px;
}
.info-photo:hover .change-nav {
    display: block;
}

.info-main {
    margin: top 60px;
    margin-bottom: 20px;
    padding: 0px;

}

.info-title {
    font-size: 15px;
    margin: 20px 10px;
    cursor: default;
}

.button-hidden {
    display: none;
}

.info-detail {
    margin: 20px 10px 10px 20px;
}

.info-input {
    margin-bottom: 5px;
    border-bottom: 1px solid #344FA1;
    background-color: #344FA1;
}

.introduce-input {
    border-bottom: 1px solid #344FA1;
    width: 100%;
    height: 100px;
    resize: none;
    background-color: #344FA1;
}

.info-input:disabled,
.introduce-input:disabled {
    background-color: #344FA1;

}


